extends layout.pug

include errors

block title
    | Connexion

block content
    form(method="POST")
        +errors(errors)
        div(class="form-group")
            if logInData.body
                -var Uname = logInData.body.username
            else
                -var Uname = ''
            label(for="username") Username
            input(
                type="text" 
                class="form-control" 
                name="username" 
                id="username" 
                minlength=3
                maxlength=20
                pattern="[A-Za-z0-9]*"
                required
                placeholder="Nom d'utilisateur"
                value=Uname)
        div(class="form-group")
            label(for="password") Password
            input(
                type="password" 
                class="form-control" 
                name="password" 
                id="password" 
                minlength=3
                maxlength=20
                pattern="\\S*"
                required
                placeholder="Mot de passe")
            input(type="hidden" name="_csrf" value=logInData.token)
        div(class="btn-group")
            button(type="submit" class="btn btn-success") Log in
            a(href="/auth/signUp" class="btn btn-primary") Sign up


