extends layout.pug

include errors

block title
    | Inscription

block content
    form(method="POST")
        +errors(errors)
        div(class="form-group")
            label(for="username") Nom d'utilisateur (seulement des lettres et des chiffre
            input(
                type="text" 
                class="form-control" 
                name="username" 
                id="username" 
                minlength=3
                maxlength=20
                pattern="[A-Za-z0-9]*"
                required
                placeholder="Nom d'utilisateur")
        div(class="form-group")
            label(for="password") Mot de passe (sans espace)
            input(
                type="password" 
                class="form-control" 
                name="password" 
                id="password" 
                minlength=3
                maxlength=20
                pattern="\\S*"
                required
                placeholder="Mot de passe")
        button(type="submit" class="btn btn-success") S'inscrire


